#about {
  background: white;

  .header {
    display: flex;
  }

  .main-heading {
    font-size: 55px;
    padding: 150px 70px 30px;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
      padding: 100px 20px 30px;
    }
  }

  .about-description {
    padding: 10px 70px 10px;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
      padding: 10px $mobi-gutter-padding 10px;
    }
  }

  .section-heading {
    text-align: left;
    //margin-top: 50px;
    //font-size: 40px;
    padding: 0 70px 30px;

    @media only screen and (max-width: 768px) {
      padding: 30px $mobi-gutter-padding 10px;
    }
  }

  .affiliations-container {
    padding-top: 15px;
  }

  .affiliations {
      display: flex;
      justify-content: left;
      padding: 40px 70px 80px;

      @media only screen and (max-width: 768px) {
        padding: 10px $mobi-gutter-padding 10px;
      }

      .affiliate {
        padding:30px;
        background: white;
        filter: grayscale(100%);
        border: 1px solid #e1e1e1;

        @media only screen and (max-width: 768px) {
          padding: 20px $mobi-gutter-padding;
        }

        img {
          opacity: 0.6;
        }

        &:not(:first-child) {
          //margin-left: 25px;
        }
      }
  }

  .guides-container {
    //background: #333333;
    padding: 0 70px 70px;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      padding: $mobi-gutter-padding;
    }

    h2 {
      //color: white;
      padding: 70px 0;
      //text-align: center;

        @media only screen and (max-width: 768px) {
          padding: 30px 0;
        }
    }
  }

  .guides {

     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 20px;

     @media only screen and (max-width: 1400px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
     }
    @media only screen and (max-width: 992px) {
       grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .guide {
      display: flex;
      justify-content: flex-end;

      flex-direction: column;
      position: relative;
      top: 0;

      flex:1;

      //max-width: 30%;
      //background: white;
      &:not(:nth-child(odd)) {
        //padding-left: 70px;
        @media only screen and (max-width: 992px) {
          padding-left: 0;
          margin-top: 10px;
        }
      }

      img {
        //border-radius: 6px;
        //flex:1;
      }

      .guide-content {
        //flex:1;
        position: absolute;

        left: 20px;
        right: 20px;
        bottom: 20px;

        //border-radius: 16px;
        //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transform:translateZ(0);

        .guide-name {
          font-size: 21px;
          text-align: left;
          font-family: Roboto;
          font-weight: 700;
          width: 100%;
          color: white;
          padding: 15px 15px 5px;
          text-shadow: 1px 0px 18px #aaa;
        }

        .guide-title {
          font-size: 15px;
          text-align: left;
          font-family: Roboto;
          font-weight: 500;
          padding: 5px 15px;
          width: 100%;
          color: white;
          text-shadow: 1px 0px 18px #aaa;


        }

        .guide-description {
          padding: 10px 15px;
          text-shadow: 1px 0px 18px #aaa;
          color: white;
          font-size: 13px;

        }
      }


    }
  }

}
