#services {
  background: white;

  .hide {
    display: none;
  }

  .main-heading {
    font-size: 55px;
    padding: 150px 70px 70px;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
      padding: 100px 20px 30px;
    }
  }

  .tour-contact-form {
    margin: auto;
    padding: 70px 70px;

    @media only screen and (max-width: 768px) {
      padding: 40px 10px;
    }
  }

  .tab-panels {
    position: relative;

    .panel-outer {
      width: 100%;
      position: relative;
      padding: 40px 70px;
      display: flex;

      &:first-child {
        padding: 0 70px;

        @media only screen and (max-width: 768px) {
          padding: 40px $mobi-gutter-padding;
        }
      }

      @media only screen and (max-width: 768px) {
        padding: 40px $mobi-gutter-padding;
        flex-direction: column;
      }

      // .grey-block {
      //   position: absolute;
      //   height: 180px;
      //   width: 100%;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   background: white;
      // }
    }

    .panel-images {
      display: flex;
      width: 50%;
      margin: auto;
      position: relative;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      img {
        position: relative;
        z-index: 1;
        width: 100%;
        display: block;
        height: 400px;

        &:not(:first-child) {
          padding-left: 15px;
        }
      }
    }

    .panel-inner {
      display: flex;
      flex-direction: column;
      min-height: 150px;
      position: relative;
      z-index: 2;
      width: 100%;
      flex: 1;
      padding-right: 50px;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      .tab-panel {
        padding-bottom: 40px;
        flex: 1;

        .doc {
          padding: 30px 0;
          font-size: 14px;
          line-height: 1.7;
          color: $zinc600;
        }

        .price {
          font-size: 16px;
          color: #333;

          span {
            padding-right: 10px;
            color: $yellowTheme;
          }
        }

        .price-black {
          color: black;
        }

        .enquire-button {
          margin-top: 30px;
          background: $blueButtonTheme;
        }
      }
    }
  }
}
