.contact-form {
  // display: flex;
  // flex-direction: column;
  // padding-top: 20px;
  // padding-bottom: 40px;
  // position: relative;
  // width: 100%;
  // background: #0b2340;
  // margin-bottom: 80px;

  // @media only screen and (max-width: 768px) {
  //   flex-direction: column;
  // }

  #whatsapp {
    display: flex;
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -90px;

    p {
      padding-left: 5px;
      font-size: 21px;
    }
  }

  .heading {
    // display: flex;
    // flex-direction: column;
    // padding: 30px 50px 0;

    // @media only screen and (max-width: 768px) {
    //   flex-direction: column;
    //   padding: 30px 30px 0;
    // }

    // h2 {
    //   color: white;
    //   font-size: 65px;
    //   line-height: 1.2;

    //   @media only screen and (max-width: 768px) {
    //     font-size: 42px;
    //   }
    // }
    // .form-description {
    //   color: white;
    //   font-size: 14px;
    //   margin-bottom: 10px;
    //   opacity: 0.7;
    // }
  }

  // .contact-form-inner {
  //   display: flex;

  //   @media only screen and (max-width: 768px) {
  //     flex-direction: column;
  //   }
  // }

  .left-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 0 30px;
    }
  }

  .right-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 0 30px;
    }
  }

  .country-input {
    padding-left: 2px;
    padding-bottom: 15px;
  }

  .input-field {
    //background: white;
  }

  .input-field-container.date,
  .input-field-container.message {
    flex-direction: row;
    padding-top: 15px;
  }

  .input-field-container.address {
    &.show {
      display: block;
    }
  }

  .input-field-container {
    // margin-top: 30px;
    // width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;

    // font-family: Roboto;
    // font-weight: 400;
    // font-size: 14px;

    // label {
    //   color: #607d8b;
    // }

    p {
      font-family: Roboto;
      font-weight: 400;
      color: rgb(96 125 139);
    }

    textarea {
      color: white;
    }

    .required-field {
      font-size: 8px;
      padding-top: 10px;
      color: $yellowTheme;
      opacity: 0.8;
    }

    .feedback-field {
      font-size: 9px;
      padding-top: 10px;
      color: $cptlocalgreen;
      opacity: 0.8;

      &.hide {
        display: none;
      }
    }

    .react-datepicker__input-container {
      input {
        padding: 5px;
        background: #0b2340;
        color: white;
      }
    }
    input,
    select,
    button {
      color: white;
    }
    .label-check {
      font-family: Roboto;
      font-weight: 400;
      color: rgb(96 125 139);
      display: flex;
      align-items: center;
      height: 40px;

      input[type="checkbox"] {
        margin-left: 15px;
        width: 15px;
        height: 15px;
      }
    }
  }

  .form-button {
    width: 100%;
    background: $cptlocalblue;
    font-family: Roboto;

    &.disabled {
      cursor: not-allowed;
      background: #1454a1;
    }
  }

  .react-datepicker-wrapper {
    border-bottom: 1px solid grey;
    margin-left: 20px;
  }

  .react-datepicker__aria-live {
    display: none;
  }
}
